<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card border-0 shadow-sm">                
                <div class="card-body ">  
                     <h3 class="card-title text-uppercase">
                            {{contact_fullname}}
                        </h3>                                     
                    <p class="form-control">Telefono : {{phone}}</p>
                    <p class="form-control">Correo :{{email}}</p>
                    <p class="form-control">Dirección{{direction}}</p>                                
                    <p class="form-control">Notas :{{notes}}</p>                    
                </div>
                      <div class="card-footer ">
                        <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Eliminar contacto
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Editar
                    </a>
                    </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tienes ningun contacto guardado.</p>
                <a href="/links/add">Crea uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
 